@model PasswordValidation.Helpers.Validation.PasswordValidation

<ul>
    <li><i class="fas @(Model.PasswordsMatch ? "fa-check-circle" : "fa-times-circle")"></i> New Passwords match</li>
    <li><i class="fas @(Model.HasMinCharacters ? "fa-check-circle" : "fa-times-circle")"></i> Minimum of 8 characters in length</li>
    <li><i class="fas @(Model.HasUpperCase ? "fa-check-circle" : "fa-times-circle")"></i> Contains an uppercase character</li>
    <li><i class="fas @(Model.HasLowerCase ? "fa-check-circle" : "fa-times-circle")"></i> Contains a lowercase character</li>
    <li><i class="fas @(Model.HasNumber ? "fa-check-circle" : "fa-times-circle")"></i> Contains a numeric character</li>
    <li><i class="fas @(Model.HasSpecialCharacter ? "fa-check-circle" : "fa-times-circle")"></i> Contains a special character</li>
    <li><i class="fas @(Model.StartsEndsWithLetter ? "fa-check-circle" : "fa-times-circle")"></i> Doesn't Start/End with a Number</li>
</ul>